.hero-section {
    background-image: url('/hero-banner.png'); 
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.searchBar{
    .ant-input{
        background:#F4F4F6 !important;
    }
}